{% extends "layout.html" %}
{% block body %}
<h2>Hakkımda</h2>

<hr>Robyn Rihanna Fenty (İngilizce telaffuz: [riˈænə];[2] d. 20 Şubat 1988), Barbadoslu şarkıcı, şarkı yazarı ve oyuncu. Saint Michael'da doğup Bridgetown'da büyüdü ve 2003'te albüm yapımcısı Evan Rogers'ın yönetiminde demo kasetler kaydederek müzik endüstrisine girdi. 2005'te ilk albümü Music of the Sun'ı ve sonraki yıl ikinci albümü A Girl like Me'yi piyasaya sürerek ünlendi; bu albümlerden sırasıyla "Pon de Replay" ve "SOS" gibi hit şarkılar çıktı.Üçüncü stüdyo albümü Good Girl Gone Bad (2007) için müziğini ve imajını yeniden oluştururken bir seks sembolü olarak ortaya çıktı.
<hr>

{% endblock  %}